<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <permission
        android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE" />

    <application
        android:name="DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Fmo9gYBUFCuADNU8aCyvfKTgc9kamfdf" />

        <activity
            android:name="demo.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 开屏页 -->
        <activity
            android:name="demo.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="demo.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>

        <!-- 注册 -->
        <activity
            android:name="demo.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <!-- 聊天页面 -->
        <activity
            android:name="demo.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 添加好友 -->
        <activity
            android:name="demo.ui.AddContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="demo.ui.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="demo.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- user profile -->
        <activity
            android:name="demo.ui.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!-- 空间动态 -->
        <activity
            android:name="demo.ui.ChatSpaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--评论详情-->
        <activity
            android:name="demo.ui.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--发送评论-->
        <activity
            android:name="demo.ui.SendCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--发送分享-->
        <activity
            android:name="demo.ui.SendSharedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--相册-->
        <activity
            android:name="demo.ui.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--文件夹-->
        <activity
            android:name="demo.ui.ImageFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--显示所有图片-->
        <activity
            android:name="demo.ui.ShowAllPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--相册2-->
        <activity
            android:name="demo.ui.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--我的颜值-->
        <activity
            android:name="demo.ui.MyPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--图片选择-->
        <activity
            android:name="demo.utils.PhotoAct"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--发现-->
        <activity
            android:name="demo.ui.FindLoveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--加载页面-->
        <activity
            android:name="demo.ui.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--输入签名-->
        <activity
            android:name="demo.ui.UpdateSignatureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--他人说明-->
        <activity
            android:name="demo.ui.OtherProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="demo828#facescore" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d1aa0e67e58ebece0008fc" >
        </meta-data>
        <meta-data android:value="hyphenate" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
